@import './utils';

.blog_container {
    font-size: medium;
    font-weight: bold;
    background-color: #24252A;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 230px;
}