@import './utils';

.footer_container {
    bottom: 0;
    width: 100%;
    background-color: #24252A;
    color: white;
    text-align: center;
    padding: 15px 10%;

    .social_network_logo {
      padding: 20px;
      ul > li {
        list-style: none;
        display: inline;
        cursor: pointer;
        padding: 5px;
      }
    }
  }

  .footer-host-link{
      color: rgba(8, 136, 169, 1);
      text-decoration: none;
      padding-left: 5px;
  }

/* Using SCSS variables to store breakpoints */
