@import './utils';


.header_container {
  background-color: #24252A;
  font-family: "Montserrat", sans-serif;
  padding: 10px 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

.logo {
  cursor: pointer;
  margin-right: auto;
  color: white;
  font-weight: bold;
  line-height: 30px;
  font-size: 30px;
}

.nav_links li{
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-size: 14px;
}

.nav_links li:nth-child(-n + 4):hover {
  background-color: rgb(148, 157, 160);
}

.nav_links li:nth-child(5) { 
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(8, 136, 169, 1);
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
}

.selectedLink {
  color: rgb(247, 104, 104);
}

.bar {
  display: none;
}

/* Using SCSS variables to store breakpoints */

.header_container {
  @include breakpoint(s){
    display: block;

    .nav_links {
      display: none;
    }

    .nav_links_mobile {
      margin-top: 50px;
      li {
        text-align: center;
        margin: 15px auto;
        
        list-style: none;
       
      }
    }

    .nav_links_mobile li:hover {
      color: pink;

    }

    .nav_links_mobile li:nth-child(5) { 
      background-color: rgba(8, 136, 169, 1);
      padding: 10px 25px;
      border-radius: 30px;
      border: none;
    }

    .bar {
      display: block;
      position: absolute;
      top: 3px;
      right: 20px;
      font-size: 30px;
    }
  }

}
